.kpir-report {
  border-collapse: collapse;
}
.kpir-report td, .kpir-report th {
  padding: 5px;
  border: 1px solid #000;
}
.kpir-report td.money {
  font-family: monospace;
  padding: 0 5px;
  text-align: right;
  width: 3em;
}
.kpir-report tr:nth-child(even) td {
  background-color: #ddd;
}
