.iworks-kpir-row {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: .5em;
}
.iworks-kpir-row label {
  width: 100px;
}
.iworks-kpir-row .select2 {
  min-width: 200px;
  width: 100%;
}

#income .iworks-kpir-row,
#expense .iworks-kpir-row {
  display: block;
}
#income .iworks-kpir-row label,
#expense .iworks-kpir-row label {
  display: block;
  width: 100%;
}

.wp-list-table tbody .column-expense,
.wp-list-table tbody .column-income {
  text-align: right;
}

body.income #expense .iworks-kpir-row-description,
body.income #income .iworks-kpir-row-description, body.expense #expense .iworks-kpir-row-description,
body.expense #income .iworks-kpir-row-description {
  display: none;
}
body.income #expense {
  display: none;
}
body.expense #income {
  display: none;
}
body.kpir-not-set #income .iworks-kpir-row,
body.kpir-not-set #expense .iworks-kpir-row {
  display: none;
}
body.kpir-not-set #income .iworks-kpir-row-description,
body.kpir-not-set #expense .iworks-kpir-row-description {
  display: block;
}
#dashboard-widgets #current_month table,
#dashboard-widgets #past_month table {
  width: 100%;
  background-color: #fff;
}
#dashboard-widgets #current_month table td,
#dashboard-widgets #past_month table td {
  padding: 5px;
}
