.iworks-kpir-row {
    display: flex;
    padding-bottom: .5em;
    label {
        width: 100px;
    }
    .select2 {
        min-width: 200px;
        width: 100%;
    }
}
#income,
#expense {
    .iworks-kpir-row {
        display: block;
        label {
            display: block;
            width: 100%;
        }
    }
}
.wp-list-table {
    tbody {
        .column-expense,
        .column-income {
            text-align: right;
        }
    }
}
body {
    &.income,
    &.expense {
        #expense,
        #income {
            .iworks-kpir-row-description {
                display: none;
            }
        }
    }
    &.income {
        #expense {
            display: none;
        }
    }
    &.expense {
        #income {
            display: none;
        }
    }
    &.kpir-not-set {
        #income,
        #expense {
            .iworks-kpir-row {
                display: none;
            }
            .iworks-kpir-row-description {
                display: block;
            }
        }
    }
}
