.iworks-kpir-row {
    display: flex;
    padding-bottom: .5em;
    label {
        width: 100px;
    }
    .select2 {
        min-width: 200px;
        width: 100%;
    }
}

#income,
#expense {
    .iworks-kpir-row {
        display: block;
        label {
            display: block;
            width: 100%;
        }
    }
}

.wp-list-table {
    tbody {
        .column-symbol,
        .column-expense,
        .column-income {
            text-align: right;
        }
        .column-expense,
        .column-income {
            padding-right: 10px;
        }
    }
    .column-expense,
    .column-income {
        width: 5em;
    }
    .column-date_of_invoice {
        width: 10em;
    }
    .column-symbol {
        width: 1em;
    }
    .duplicate_invoice {
        a {
            cursor: pointer
        }
    }
}

body {
    &:not(.kpir-not-set) {
        .iworks-type {
            .iworks-kpir-row-description {
                display: none;
            }
        }
    }
    &.kpir-not-set {
        .iworks-type {
            .iworks-kpir-row {
                display: none;
            }
            .iworks-kpir-row-description {
                display: block;
            }
        }
    }
    &.income {
        .iworks-type {
            &:not(#income) {
                display: none;
            }
        }
    }
    &.expense {
        .iworks-type {
            &:not(#expense) {
                display: none;
            }
        }
    }
    &.salary {
        .iworks-type {
            &:not(#salary) {
                display: none;
            }
        }
    }
    &.asset {
        .iworks-type {
            &:not(#asset) {
                display: none;
            }
        }
    }
    &.insurance {
        .iworks-type {
            &:not(#insurance) {
                display: none;
            }
        }
    }
}
