#dashboard-widgets {
    #current_month,
    #past_month {
        table {
            width: 100%;
            background-color: #fff;
            td {
                padding: 5px;
            }
        }
    }
}

